@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300&display=swap');
:root {
  --col-primary: #4b7bec;
  --col-primary-100: #8ca9ed;
  --col-secondary: #3867d6;
  --col-bg-primary: #f1f2f6;
  --col-bg-secondary: #dcdde1;
  --col-text: rgb(50, 50, 50);
  --col-spinner-bg: #000;
}
body.dark {
  --col-text: #f1f2f6;
  --col-bg-primary: #2f3640;
  --col-bg-secondary: #353b48;
  --col-spinner-bg: #fff;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--col-bg-primary);
  color: var(--col-text);
  margin: 0;
  padding: 0;
}
